@import "tailwindcss";

* {
  box-sizing: border-box;
}
@theme {
  --shadow-3xl: 0 20px 45px rgba(0, 0, 0, 0.75);
}
:root {
  --primary-color: #121925;
  --second-color: #2d71e6;
}
.btn-1 {
  @apply mb-2 me-1 rounded bg-[var(--primary-color)] text-white p-2 hover:bg-white hover:font-bold hover:border hover:border-[var(--primary-color)] hover:text-[var(--primary-color)] transition duration-500 ease-in-out
    text-white p-2 rounded transition duration-500 ease-in-out;
}
.btn-2 {
  @apply mb-2 ms-1    rounded bg-[var(--second-color)] text-white p-2  hover:bg-white hover:font-bold hover:border hover:border-[var(--second-color)] hover:text-[var(--second-color)] transition duration-500 ease-in-out;
}

.save {
  background: white;
  padding-inline: 10px;
  position: relative;
  margin-left: 10px;
}

.save::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0px;
  background: white;
  border-bottom: 10px #000 solid;
  border-top: 10px transparent solid;
  border-left: 10px transparent solid;
  border-right: 10px transparent solid;
}

.circle {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
